.btn {
  border: none;
  padding: 3px 15px;
  transition-property: background-color;
  transition-duration: 0.4s;
  font-size: $font-size;
  word-break: break-all;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn.icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.btn:hover {
  background-color: #ce6c03;
}

.btn:active {
  transition-duration: 0.2s;
  background-color: #f98000;
}
