@import "vars";
@import "navbar";
@import "fonts";
@import "input";
@import "button";
@import "flex";
@import "select";

* {
  font-family: Ubuntu;
  margin: 0px;
  padding: 0px;
}

.auto {
    flex: 1 1 auto;
}
