.container {
  display: flex;
  padding: 5px;
}

.row {
  flex-direction: row;
  flex: auto;
}

.col {
  flex-direction: column;
  flex: auto;
}

.centered {
  justify-content: center;
  align-content: center;
}
