@font-face {
    font-family: Ubuntu;
    src: url("./assets/fonts/Ubuntu-R.ttf");
    font-size: 1em;
}

@font-face {
    font-family: Ubuntu;
    src: url("./assets/fonts/Ubuntu-L.ttf");
    font-size: 1em;
    font-weight: lighter;
}

@font-face {
    font-family: UbuntuMono;
    src: url("./assets/fonts/UbuntuMono-R.ttf");
    font-size: 1em;
}


@font-face {
    font-family: Ubuntu;
    src: url("./assets/fonts/Ubuntu-B.ttf");
    font-size: 1em;
    font-weight: bold;
}


@font-face {
    font-family: Ubuntu;
    src: url("./assets/fonts/UbuntuMono-RI.ttf");
    font-size: 1em;
    font-style: italic;
}
