.navbar {
  height: 64px;
  display: flex;
  padding: 0 15px;
  flex-direction: row;
}

.navbar * {
  font: 500 20px/32px Ubuntu;
  color: white;
}

.company {
  font-weight: bold;
  margin-left: 5px;
}

.company-brand {
  font-size: 2em;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
