.selection {
  height: 30px;
  width: 100px;
  position: relative;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 5px;
}

.selection:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.invisible {
  display: none;
}

.option:hover {
  background-color: #ce6c03;
}

.option-container {
  z-index: 99;
  position: absolute;
  width: 110px;
}

.empty-value {
    height: 18px;
}

.option {
  display: flex;
  position: relative;
  padding: 5px;
  transition-property: background-color;
  transition-duration: 0.4s;
  cursor: pointer;
  border-top: 1px solid white;
}

.option.visible {
  display: block;
}