$primary-color: #f98000;
$primary-contrast: white;

$secondary-color: #00a2f9;
$secondary-contrast: white;

$font-size: 20px;

.primary {
  background-color: $primary-color;
  color: $primary-contrast;
}

.secondary {
  background-color: $secondary-color;
  color: $secondary-contrast;
}
